<h3>Gtupa: tu bedzie nazwa grupy jak to dodam</h3>

<table class="table">
  <thead class="thead-dark">
  <tr>
    <th  scope="col">Nr indeksu</th>
    <th  scope="col">Imie</th>
    <th  scope="col">Nazwisko</th>
  </tr>
  </thead>

<!--  <tr *ngFor="let group of groups">-->

<!--    <th *ngIf="group.name_grupy, else elseBlock"><a [routerLink]="['group/' + group.id_group]">{{group.name_grupy}}</a></th>-->

<!--    <ng-template #elseBlock>-->
<!--      <th>NO DATA</th>-->
<!--    </ng-template>-->
<!--    &lt;!&ndash;      <ng-template #elseNameBlock><th><a [routerLink]="['accountDetails/' + account.id]" >NO DATA</a></th></ng-template>&ndash;&gt;-->


<!--  </tr>-->

</table>
