<h3>Grupa: {{groupName}}</h3>

<table class="table">
  <thead class="thead-dark">
  <tr>
    <th  scope="col">Nazwa</th>
    <th  scope="col">Adres</th>
    <th  scope="col">Miasto</th>
    <th  scope="col">Kod pocztowy</th>
    <th  scope="col">Numer telefonu </th>
    <th></th>
  </tr>
  </thead>

  <tr *ngFor="let student of students">

    <th *ngIf="student.displayName, else elseBlock">{{student.displayName}}</th>
    <th *ngIf="student.address, else elseBlock">{{student.address}}</th>
    <th *ngIf="student.city, else elseBlock">{{student.city}}</th>
    <th *ngIf="student.zip_code, else elseBlock">{{student.zip_code}}</th>
    <th *ngIf="student.phone_number, else elseBlock">{{student.phone_number}}</th>
    <th><button [routerLink]="['studentSubjects/' + student.id]">przedmioty</button></th>

    <ng-template #elseBlock>
      <th>NO DATA</th>
    </ng-template>
    <!--      <ng-template #elseNameBlock><th><a [routerLink]="['accountDetails/' + account.id]" >NO DATA</a></th></ng-template>-->


  </tr>

</table>
