

<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" href="#">Jibrus</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="/studentlist" class="nav-link waves-light" mdbWavesEffect>Students list</a>
      </li>
      <li class="nav-item">
        <a routerLink="/signup" class="nav-link waves-light" mdbWavesEffect>Register</a>
      </li>
      <li class="nav-item">
        <a routerLink="/login" class="nav-link waves-light" mdbWavesEffect>Login</a>
      </li>
      <li class="nav-item">
        <a routerLink="/subjectlist" class="nav-link waves-light" mdbWavesEffect>lista przedmiotów</a>
      </li>

    </ul>
    <!-- Links -->

  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->



<!--elo -->
<!--<div class = "row">-->
<!--  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->

<!--    <i class="material-icons"> menu </i>-->


<!--  <nav>-->
<!--    <a  class="button fancy-button"  routerLink="/studentlist">student list </a>-->

<!--    <a class="button fancy-button" routerLink="/signin"> register </a>-->

<!--    <a class="button fancy-button" routerLink="/login"> login</a>-->
<!--  </nav>-->


<!--</div>-->
